#test{
    background-color: aqua;
}

#School-projects{
    background-color: blueviolet;
}

#projectLine{
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project{
    padding: 1em;
    background-color: burlywood;
    min-height: 100px;
    min-width: 100px;
    width: 14em;
}